/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Create variables here : */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(0, 0, 0);
    color: ghostwhite;
    font-family: 'Poppins';
}
section{
    padding: 5rem 10%;
}
span{
    color: var(--text-color);
}
/* Scroll Animation Css ---------------------------------------------------------------------------*/

#scrollpath{
    position: fixed;
    top: 0; 
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(to top, #ff00c8, #00ffe7);
    animation: animate 5s linear infinite; 
} 
::-webkit-scrollbar{
    width: 0;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

/* Twitter Spaces Schedule CSS -------------------------------------------------------------------  */
.twitter-box{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    box-sizing: border-box;
}
.twitter-cardso{
    background-color: #0f0f0f;
    border-radius: 2rem;
    text-align: left;
    width: 24vw;
    display: block;
    justify-content: center;
    transition: 0.3s ease;
}
.twitter-image1{
    margin-top: 2rem;
    width: 20vw;
    height: 23vh;
    background-image: url('images/ux1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    border: 1px solid white;
}
.twitter-image2{
    margin-top: 2rem;
    width: 20vw;
    height: 23vh;
    background-image: url('images/ux2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    border: 1px solid white;
}
.twitter-image3{
    margin-top: 2rem;
    width: 20vw;
    height: 23vh;
    background-image: url('images/ux3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;

    border: 1px solid white;
}
.twitter-image-box{
    display: flex;
    justify-content: center;
   
}
.twitter-card-content{
    margin: 2.7rem ;
    text-align: center;
}
.twitter-card-content h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.twitter-card-content h2{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.twitter-card-content h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}
.twitter-cards:hover{
    transform: rotate(4deg);
}

/* Mentors Section Css */
.mentor{
    padding: 5rem 20%;
    position: relative;
}
.mentors-box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.mentor-image img{
    height: 20vh;
    border-radius: 4px;
}
.bgimg3 img{
    position: absolute;
    right: -10rem;
    top: 40%;
    height: 60vh;
}
.bgimg4 img{
    position: absolute;
    left: -10rem;
    top: -15rem;
    height: 60vh;
    rotate: 180 deg;
}
.bgimg5 img{
    position: absolute;
    right: 0;
    top: -18rem;
    height: 45vh;
}
.bgimg6 img{
    position: absolute;
    left: 0;
    top: 0rem;
    height: 40vh;
}
.bgimg7 img{
    position: absolute;
    right: 0;
    top: 25%;
    height: 55vh;
}
.bgimg8 img{
    position: absolute;
    left: 0;
    top: -23%;
    height: 37vh;
}
.bgimg9 img{
    position: absolute;
    left: -8rem;
    bottom: 15%;
    height: 35vh;
}
.bgimg10 img{
    position: absolute;
    right: -8rem;
    bottom: 15%;
    height: 35vh;
}
.bgimg11 img{
    position: absolute;
    left: 2rem;
    top: -5rem;
    height: 40vh;
}
.bgimg12 img{
    position: absolute;
    right: 0rem;
    top: 15%;
    height: 40vh;
}
.bgimg13 img{
    position: absolute;
    left: 0rem;
    top: 35%;
    height: 35vh;
}
.bgimg14 img{
    position: absolute;
    right: 0rem;
    top: 50%;
    height: 35vh;
}
/* Prizes Section Here */
.prizes{
    position: relative;
}
.prize-container{
    display: flex;
    gap: auto;
    justify-content: center;
    align-items: center;
}
.prize-box1{
    background-color: #1e1a1a;
    text-align: center;
    border-radius: 2rem;
    padding: 5rem;
}
.prize-box1 img{
    height: 18vh;
    margin: 2.5rem;
}
.prize-box1 h1{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
.prize-box1 h2{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: rgb(0, 208, 255);
}
.prize-box1 h3{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.prize-card{
    display: flex;
    text-align: center;
    padding: 3rem;
    gap: 2rem;
    align-items: center;
    background-color: #151414;
    border-radius: 2rem;
}
.prize-card img{
    height: 6vh;
    border-radius: 100%;
}
 /*  -------------------------------- Associate Partners ------------------------------------------- */
.partners{
    background: #0e0e0e;
    position: relative;
}
.partners-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.partner-content{
    border-radius: 2rem;
    background: #1a1919;
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(46, 45, 45);
}
.asper{
    width: 200vw;
    align-items: center;
}
.partner-content img{
    height: 8vh;
}

/* -------------------------------------------Slider --------------------------------------*/
.slider{
    position: relative;
    overflow-x: hidden;
}
.slider-box{
    width: 80vw;
    overflow: hidden;
}
.slider-images{
    display: flex;
    gap: 3rem;
    animation: 20s slide infinite linear;
    }
.slider-images img{
    height: 20vh;
    border: 1px solid #ec0681;
    border-radius: 2rem;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.slider-images2{
    display: flex;
    gap: 3rem;
    animation: 20s slide2 infinite linear;
    margin-top: 2rem;
}
.slider-images2 img{
    height: 20vh;
    border: 1px solid #ec0681;
    border-radius: 2rem;
}
@keyframes slide2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }

}
.slider-images2 img:hover{
    animation-play-state: paused;
}

/* ------------------------------Colour Changer--------------------------------------- */

.theme-buttons{
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.colour-change{
    display: flex;
    justify-content: center;
    margin: 5rem;
}
.colour-box{
    display: flex;
}
.meet-container{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.meet-box2{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.meet-box3{
    padding: 0rem 20rem;
    font-size: 1.6rem;
}
.google{
    height: 6vh;
}
.zoom{
    height: 4.5vh;
}
.meet-div{
    width: 8vw;
    height: 3vw;
    display: flex;
    padding: 1rem;
    padding-right: 2rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #302e2e;
    border-radius: 3rem;
    margin-top: 2rem;
}
.btn-meet{
    height: 5vh;
    width: 10vw;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    background-color: var(--text-color);
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Stylish&display=swap');

/* Create variables here : */
:root{
    --bg-color: #000 ;
    --second-bg-color: ;
    --text-color: #ec0681 ;
    --main-color: ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(0, 0, 0);
    color: ghostwhite;
    font-family: 'Poppins';
}
section{
    padding: 5rem 10%;
}
span{
    color: var(--text-color);
}
/* Navbar Here --------------------------------------------------------------------- */
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #100f0f;
}
.header.sticky{
    border-bottom: .1rem  solid rgba(0, 0, 0, 0.2);
}
.header img{
    height: 7vh;
    margin-right: 2rem;
}
.nav-div{
    display: flex;
    align-items: center;
}
.nav-div a{
    text-decoration: none;
    color: var(--text-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    font-family: cursive;
}
.navbar a{
    color: #fff;
    font-size: 1.7rem;
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;
    transition: 1s ease;
}
.navbar a:hover{
    color: var(--text-color);
}

/* Scroll Animation Css ---------------------------------------------------------------------------*/

#scrollpath{
    position: fixed;
    z-index: 1000;
    top: 0; 
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}
#progressbar{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 10px;
    height: 0;
    background: linear-gradient(to top, #ff00c8, #00ffe7);
    animation: animate 5s linear infinite; 
} 
::-webkit-scrollbar{
    width: 0;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

/* Twitter Spaces Schedule CSS -------------------------------------------------------------------  */
.twitter-box{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.twitter{
    position: relative;
}
.twitter-cards{
    border-radius: 2rem;
    background: #302e2e;
    text-align: left;
    width: 24vw;
    display: block;
    justify-content: center;
}
.twitter-image{
    margin-top: 2rem;
    width: 20vw;
    height: 23vh;
    background-image: url('https://i.etsystatic.com/40274243/r/il/0fb1e8/4610173301/il_fullxfull.4610173301_9nmm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
}
.twitter-image-box{
    display: flex;
    justify-content: center;
   
}
.twitter-card-content{
    margin: 2.7rem ;
}
.twitter-card-content h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.twitter-card-content h2{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.twitter-card-content h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem;
}
.twitter-cards:hover{
    border: 2px solid #008aff;
    transform: scale(1.05);
}

/* Mentors Section Css */
.mentors-container{
    /* background-color: #141414; */
    padding: 5rem 20%;
}
.mentors-box{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.mentor-image img{
    height: 20vh;
    transition: 2.5s ease;
    
    border-radius: 1rem;
}
.mentor-image img:hover{
    border: 3px solid rgb(255, 255, 255);
    transform: scale(1.2);
}

/* Prizes Section Here */
.prize-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.prize-box1{
    background-color: #121111;
    text-align: center;
    border-radius: 2rem;
    padding: 3rem;
}
.prize-box1 img{
    height: 18vh;
    margin: 2.5rem;
}
.prize-box1 h2{
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
    color: #ec0681;
}
.prize-box1 h3{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.prize-card{
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
    gap: 2rem;
    align-items: center;
    background-color: #1e1a1a;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}
.prize-card img{
    height: 6vh;
    border-radius: 100%;
}
 /*  -------------------------------- Associate Partners ------------------------------------------- */
 .partners{
    background: var(--bg-color);
 }
.partners-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.partner-content{
    border-radius: 2rem;
    background: #171717;
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(46, 45, 45);
}
.partner-box2{
    width: 25vw;
    text-align: center;
}
.partner-box2 img{
    width: 10vw;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgb(148, 9, 9);
    margin-bottom: 2rem;
}
.partner-content img{
    height: 8vh;
}

/* -------------------------------------------Slider --------------------------------------*/
.slider-box{
    width: 80vw;
}
.slider-images{
    display: flex;
    gap: 3rem;
    animation: 20s slide infinite linear;
    
}
.slider-images img{
    height: 20vh;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.slider-images2{
    display: flex;
    gap: 3rem;
    animation: 20s slide2 infinite linear;
    margin-top: 2rem;
}
.slider-images2 img{
    height: 20vh;
}
@keyframes slide2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }

}
.slider-images2 img:hover{
    animation-play-state: paused;
}

/* ------------------------------Colour Changer--------------------------------------- */

.theme-buttons{
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.colour-change{
    display: flex;
    justify-content: center;
    margin: 5rem;
}
.colour-box{
    display: flex;
}
.meet{
    /* background-color: #171616; */
    background-image: url('images/tv.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30vh;
    background-position-x: 6rem;
}
.meet-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.meet-box2{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.meet-box3{
    padding: 0rem 20rem;
    font-size: 1.3rem;
}
.google{
    height: 6vh;
}
.zoom{
    height: 4.5vh;
}
.meet-div{
    width: 8vw;
    height: 3vw;
    display: flex;
    padding: 1rem;
    padding-right: 2rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #302e2e;
    border-radius: 3rem;
    margin-top: 2rem;
}
.btn-meet{
    height: 5vh;
    width: 10vw;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    background-color: var(--text-color);
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    outline: none;
    border: none;
}
.hero{
    display: flex;
    text-align: center;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}
.hero-heading h1{
 font-size: 4rem;
 margin-bottom: 2rem;
}
.hero-heading h2{
    font-size: 5rem;
    margin: 2rem;
}
.hero-textline h3{
    font-size: 1.5rem;
}
.home{
    background-size: 60vh;
    width: 100%;
    position: relative;
}
.hero-content{
    text-align: center;
}
.timer{
    padding: 1rem;
}
.col{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem;
}
input{
    height: 5rem;
    background: var(--bg-color);
    width: 8rem;
    color: white;
    font-size: 2rem;
    border-radius: .5rem;
    border-color: #00c8ff;
    text-align: center;
}
.date-timer{
    display: none;
}
.hero-textline{
    margin-top: 2rem;
}
video{
    height: 40vh;
    border-radius: 3rem;
}
.hero-img1 img{
    position: absolute;
    height: 55vh;
    left: 0;
    top: 15%;
}
.hero-img2 img{
    position: absolute;
    height: 50vh;
    right: 0;
    top: 35%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.lastsection{
    background: #101010;
}
.footer-box1 h2{
    margin: 1rem;
}
.footer-box1{
    align-items: center;
    text-align: center;
}
.footer-box2{
    gap: 1rem;
}
.footer-box1 img{
    height: 10vh;
}
.icono{
    cursor: pointer;
}
.btndiv{
    width: 15vw;
    display: flex;
    justify-content: space-around;
}
.btnhero{
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background: var(--text-color);
    color: white;
    font-weight: 600;
    outline: none;
    border: none;
    width: 5vw;
    cursor: pointer;
}
.btnhero:hover{
    width: 6vw;
    border: 1px solid white;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #171717;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: none;
    border: 1px solid #ec0681;
  }
  .container .registration{
    display: none;
  }
  #check:checked ~ .registration{
    display: block;
  }
  #check:checked ~ .login{
    display: none;
  }
  #check{
    display: none;
  }
  .container .form{
    padding: 2rem;
  }
  .form header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
  }
   .form input{
     height: 60px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid #ec0681;
     border-radius: 6px;
     outline: none;
   }
   .form input:focus{
     box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
   }
  .form a{
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  .form a:hover{
    text-decoration: underline;
  }
  .form input.button{
    color: #ffffff;
    background: #ec0681;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
  }
  .form input.button:hover{
    border: .2rem solid #00a6ff;
  }
  .signup{
    font-size: 17px;
    text-align: center;
    color: white;
  }
  .signup label{
    color: #06ecdd;
    cursor: pointer;
  }
  .signup label:hover{
    text-decoration: underline;
  }
  .roadmapdiv{
    display: flex;
    gap: 1rem;
  }
  .box1x{
    text-align: center;
    background-color: #0f0f0f;
    border: 0.5px solid #ff00b3;
    border-radius: 2rem;
    height: 15vh;
    vertical-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    width: 15vw;
  }
  .vcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
  }
  .vtimeline {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  #roadmap{
    position: relative;
  }
  
  .vtimeline ul {
    list-style: none;
  }
  .vtimeline ul li {
    padding: 3rem;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .vtimeline ul li:last-child {
    margin-bottom: 0;
  }
  .vtimeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .vtimeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .vtimeline-content .vdate {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  @media only screen and (min-width: 768px) {
    .vtimeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .vtimeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .vtimeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .vtimeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .vtimeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgb(18, 17, 17);
      top: 0px;
    }
    .vtimeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .vtimeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .vtimeline-content .vdate {
      position: absolute;
      top: -30px;
    }
    .vtimeline ul li:hover::before {
      background-color: #ec0681;
    }
  }
  